<div class="container">
  <mat-accordion *ngFor="let product of products_list; let i = index">
    <mat-expansion-panel>
      <mat-expansion-panel-header>

        <mat-panel-title>
          {{ product.name }}
        </mat-panel-title>

        <mat-panel-description>
          Qt.{{ product.quantity }}
        </mat-panel-description>

        <mat-panel-description>
          ${{ product.price }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="productForms[i]" (ngSubmit)="onSubmit(i)">
        <mat-form-field>
          <input matInput placeholder="Product Name" formControlName="name">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput placeholder="Quantity" formControlName="quantity">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput placeholder="Price" formControlName="price">
        </mat-form-field>
        &nbsp;
        <button mat-flat-button color="accent" type="submit">Save</button>
      </form>

    </mat-expansion-panel>
  </mat-accordion>
  <button mat-flat-button color="accent">Add Product</button>
</div>
