<div class="container">
  <mat-accordion *ngFor="let item of items_list">
    <mat-expansion-panel>
      <mat-expansion-panel-header>

        <mat-panel-title>
          {{ item.name }}
        </mat-panel-title>

        <mat-panel-description>
          Qt.{{ item.quantity }}
        </mat-panel-description>

        <mat-panel-description>
          ${{ item.price }}
        </mat-panel-description>
      </mat-expansion-panel-header>


      <mat-form-field>
        <input matInput placeholder="Product Name">
      </mat-form-field>

      &nbsp;

      <mat-form-field>
        <input matInput placeholder="Quantity">
      </mat-form-field>

      &nbsp;

      <mat-form-field>
        <input matInput placeholder="Price">
      </mat-form-field>

      &nbsp;

      <button mat-flat-button color="accent" (click)="openSnackBar('Saved!', 'Gotcha')">Save</button>

    </mat-expansion-panel>
  </mat-accordion>
  <button mat-flat-button color="accent">Add Product</button>
</div>
