<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let card of cards" [routerLink]="card.path">{{ card.title }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>foo</span>
    </mat-toolbar>

    <!-- Page content -->
    <div class="grid-container">
      <mat-card class="dashboard-card" *ngFor="let card of cards" [routerLink]="card.path">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img src="{{ card.image }}">
        </mat-card-content>
      </mat-card>
    </div>
    <!-- End content -->


  </mat-sidenav-content>
</mat-sidenav-container>


