.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}

mat-accordion {
  padding: 2%;
}

button {
  width: 97%;
  padding: 2%;
}

mat-form-field{
  width: 100%;
}

mat-toolbar {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
}
